.clearMe {display: block; height: 0; clear: both; font-size: 0;}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */


* {margin: 0; padding: 0;}
body { background-color: #fdd; }
img.logo { float: left; margin: 30px 45px 30px 45px; opacity: 1; }
#rain {position: fixed; width: 100%; height: 100%; overflow: hidden; border: 0px solid black;}
#rain img {position: absolute; z-index: 20; opacity: .5; }
#everything { position: absolute; left: 0px; top: 0px; z-index: 100; }
#main { float: left;  border-left: 5px solid #b6b4b5; margin-top: 0px; max-width: 450px; background: url(/images/template/content.png); padding: 15px 40px 40px 40px; font-family: georgia, serif; font-size: 1.4em; line-height: 1.6em; color: #b6b4b5;}
#main h2 { font-size: 26px; margin-bottom: 15px; }

ul.listing {list-style: none; margin: 64px 0 16px 0; padding: 0; border-bottom: 1px solid #ddd;}
ul.listing li {position: relative; margin: 0 0 64px 0;}
ul.listing li img {max-width: 100%; height: auto; border: 1px solid #bbb;}
ul.listing li a {color: #fff;}
ul.listing li h3 {position: absolute; top: 50px; left: -310px; opacity: 0; width: 205px; height: 141px; padding: 20px 70px 0 20px; font-size: 1.6em; text-align: center; background: url(/images/template/bubble.png) 0 0 no-repeat; transition: opacity .75s; -webkit-transition: opacity .75s;}
ul.listing li:hover img {border: 1px solid #999;}
ul.listing li:hover h3 {opacity: 1;}
ul.listing li h3 small {display: block; margin: 16px 0 0 0; line-height: 1.6em; font-size: 13px;}

small.bottom {display: block; line-height: 2em; text-align: right; color: #222; font-size: .5em;}
small.bottom a {color: #aaa; text-decoration: none;}
small.bottom a:hover {color: #444; text-decoration: underline;}
